* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  /* height: 100dvh; */
}

h1 {
  font-size: 2.8rem;
  font-weight: 800;
  margin-bottom: 10px;
  margin-top: 100px;
}

.title-para {
  font-size: 1.5rem;
  margin-bottom: 30px;
}

.accordion {
  margin: 0 auto;
}

.accordion-item {
  max-width: 900px;
  border: 1px solid #ddd;
  margin-bottom: 15px;
  border-radius: 15px;
  overflow: hidden;
}

.accordion-header {
  width: 100%;
  background-color: #c2c0c0;
  border: none;
  text-align: left;
  padding: 15px;
  cursor: pointer;
  outline: none;
  transition: background-color 0.5s ease;
  font-size: 2rem;
  display: flex;
  justify-content: space-between;
}

.active button i {
  transform: rotate(90deg);
}

.accordion-header:hover {
  background-color: #ddd;
}

.accordion-content {
  padding: 0 25px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0s ease-in-out;
  background-color: white;
}

.accordion-content p {
  margin: 20px 0;
  font-size: 1.5rem;
}

.accordion-item.active .accordion-content {
  max-height: 500px;
  transition: max-height .3s ease-in-out;
}

.accordion-item.active .accordion-header {
  background-color: #ddd;
}